:root {
  --main-color: #f5f5f5;
  --secondary-color: #000;
  --tertiary-color: #fff;

  --word-count: 0;
  --char-count: 0;

  counter-reset: word char;
}

.container {
  position: absolute;
  top: 10%;
  left: calc(50% - 25vmin);
}

#text {
  position: relative;
  width: 50vmin;
  height: 50vmin;
  border-radius: 15px;
  padding: 15px;
}

.container::after {
  content: "Words:  " counter(word) "    |   Characters: " counter(char);
  color: white;
  tab-size: 3;
  font-size: 1.2rem;
  width: 80%;
  height: 40px;
  border-radius: 5px;
  position: absolute;
  bottom: -20px;
  left: calc(50% - 40%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 25px;
}

textarea {
  appearance: none;
  -webkit-appearance: none;
}

textarea:focus {
  outline: none;
}
